
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --table-border-color: #cccccc;
  }
  
  body.dark-mode {
    --background-color: #000000;
    --text-color: #ffffff;
    --table-border-color: #444444;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  table {
    border-color: var(--table-border-color);
  }
  
h1{
    text-align: center;
}

h2{
    text-align: center;
}

a{
    color: blue;
}