/* Default (Light Mode) */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --table-border-color: #cccccc;
  }
  
  /* Dark Mode */
  body.dark-mode {
    --background-color: #000000;
    --text-color: #ffffff;
    --table-border-color: #444444;
  }
  
  /* Apply the variables */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  table {
    border-color: var(--table-border-color);
  }
  
  a {
    color: var(--text-color);
  }

h1{
    text-align: center;
}

h2{
    text-align: center;
}